    
    <header> <h3　class="header">Ruby on Rails スケジュール管理表</header>
    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end %>
  <table>
      <thead>
        <tr>
          <th>id</th>
          <th>タイトル</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>終日</th>
          <th>更新日</th>
          <th>作成日</th>
          <th>参照</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
 
      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.id %></td>
            <td><%= schedule.title %></td>
            <td><%= schedule.start %></td>
            <td><%= schedule.end %></td>
          　 <td><%= schedule.last %></td>
            <td><%= schedule.updated_at.to_s(:datetime_jp) %></td>
            <td><%= schedule.created_at.to_s(:datetime_jp) %></td>
            <td>
              <%= link_to "参照", schedule %>
            </td>
            <td>
              <%= link_to "編集", [:edit, schedule] %>
            </td>
            <td>
              <%= link_to "削除", schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p　class="newuser"><%= link_to "ユーザー新規登録", :new_schedule %></p>
   <div class="data"> <%= Date.current.strftime(" %m月 %d日") %></div>
 

  


    