    <h3>スケジュール新規作成</h3>
   <%= render "shared/error", obj: @schedule %> 
    <%= form_for @schedule do |f| %>
   
      <table>
        <tr>
          <th><%= f.label :title ,"タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>
 
       
 
        <tr>
          <th><%= f.label :start ,"開始日" %></th>
          <td>   <input name="schedule[start]" type="date" /></td>
          
        </tr>
      <tr>
          <th><%= f.label :end ,"終了日" %></th>
          <td><input name="schedule[end]"id="item_start" type="date" ></td>
   
       
          
        </tr>

        <tr>
          <th><%= f.label :last ,"終日" %></th>
          <td><input type="checkbox" value="○" name="schedule[last]" class="box"><br>
         
          <%= f.label :last,"終日の場合テェックを入れます" %></td>
　　　　</tr>


         <th><%= f.label :introduce,"スケジュールメモ" %></th>
          <td><%= f.text_area :introduce %></td>
        

     

       
      </table>
 
      <div>
        <ul>
          <li><%= f.submit "登録完了する"%></li>
          <li><%= link_to "スケジュール一覧に戻る", :schedules %></li>
        </ul>
      </div>
    <% end %>